
<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-play-billing"
        version="1.0.0">
    
    <name>Google Play Billing</name>
    <description>Cordova plugin for Google Play Billing</description>
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=9.0.0" />
        <engine name="cordova-android" version=">=9.0.0" />
    </engines>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PlayBillingPlugin">
                <param name="android-package" value="com.quizora.ai.billing.PlayBillingPlugin" />
            </feature>
        </config-file>
        
        <framework src="com.android.billingclient:billing:7.1.1" />
        
        <source-file src="src/android/PlayBillingPlugin.kt" target-dir="src/com/quizora/ai/billing" />
        <source-file src="src/android/BillingActivity.kt" target-dir="src/com/quizora/ai/billing" />
        
        <preference name="BILLING_KEY" default="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtVSw2Yq9Mjz35yTkPb+d3rWqnUCnTtDXA6iaa9EhHcrSa2JaK23peJ1hk0Bma+msCABmPfK7nCkAzG4VOA6lBrk+0mjiIatYOfwieKW/e0CBKBVBVZmjvaHRnGHhUWUrudmJ5HWv0ssl+u5ZXlC+L7adaV+u4raVsZYVZT5M2NLLtqObv+dVSikrXhqN2WYMRdC396GqPtVi+QxBolQyiEeScLrNsV08CVVIcWZV6mHaPXkvegkZJOAYG8av6mw0T9N6BII/t3KTSuvuT2NK8t9xN7IDuw6hD+zZt2sfjAqfT+JLeWQjVfUtVNjlGoZTWYxVOlg4NzGBwUjDULTMiwIDAQAB" />
    </platform>
    
    <js-module src="www/play-billing.js" name="PlayBilling">
        <clobbers target="PlayBilling" />
    </js-module>
</plugin>
